In [2]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("House_Rent_Dataset.csv")

In [4]:
df.shape

(4746, 12)

In [5]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [7]:
df.isna().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [8]:
df.isnull().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [9]:
df.notnull().sum()

Posted On            4746
BHK                  4746
Rent                 4746
Size                 4746
Floor                4746
Area Type            4746
Area Locality        4746
City                 4746
Furnishing Status    4746
Tenant Preferred     4746
Bathroom             4746
Point of Contact     4746
dtype: int64

In [10]:
df.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [11]:

delhidf=df[df['City']=='Delhi']

In [12]:
delhidf.shape

(605, 12)

In [13]:
(delhidf['Size']/delhidf['BHK']).describe()

count     605.000000
mean      359.796143
std       228.496512
min        22.500000
25%       200.000000
50%       375.000000
75%       500.000000
max      1350.000000
dtype: float64

In [14]:
delhidf=delhidf[((delhidf['Size']/delhidf['BHK'])>=100)]

In [15]:
delhidf.describe()

              BHK           Rent         Size    Bathroom
count  481.000000     481.000000   481.000000  481.000000
mean     2.103950   31625.779626   963.837838    1.875260
std      0.893031   47336.820348   688.663974    0.962327
min      1.000000    3500.000000   100.000000    1.000000
25%      1.000000   11000.000000   450.000000    1.000000
50%      2.000000   18000.000000   756.000000    2.000000
75%      3.000000   30000.000000  1200.000000    2.000000
max      4.000000  530000.000000  4000.000000    7.000000

In [16]:
delhidf.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [17]:
delhidf=delhidf.drop(['Posted On','Point of Contact','Tenant Preferred','Floor','City'],axis=1)

In [18]:

delhidf.columns

Index(['BHK', 'Rent', 'Size', 'Area Type', 'Area Locality',
       'Furnishing Status', 'Bathroom'],
      dtype='object')

In [42]:
location_count=delhidf['Area Locality'].value_counts()

In [43]:
location_count_1=location_count[location_count==1]

In [44]:
delhidf['Area Locality']=delhidf['Area Locality'].apply(lambda x:'other' if x in location_count_1 else x)

In [45]:
delhidf['Area Locality'].value_counts()

Area Locality
82.0    170
35.0     18
81.0     13
7.0      11
8.0      10
       ...
68.0      2
33.0      2
18.0      2
29.0      2
24.0      2
Name: count, Length: 83, dtype: int64

In [22]:
delhidf.describe()

              BHK           Rent         Size    Bathroom
count  481.000000     481.000000   481.000000  481.000000
mean     2.103950   31625.779626   963.837838    1.875260
std      0.893031   47336.820348   688.663974    0.962327
min      1.000000    3500.000000   100.000000    1.000000
25%      1.000000   11000.000000   450.000000    1.000000
50%      2.000000   18000.000000   756.000000    2.000000
75%      3.000000   30000.000000  1200.000000    2.000000
max      4.000000  530000.000000  4000.000000    7.000000

In [23]:
delhidf['Size'].unique()

array([ 800,  200, 1800,  400,  600, 1550,  650,  850, 2000,  180,  450,
       2500,  720,  250, 3000,  550,  750, 1100,  500,  350,  623, 2400,
        445,  300, 1670, 2200, 1250, 2100,  240,  700, 1901, 1300, 1040,
        900,  380, 1650, 1900,  892,  520,  950, 1500,  530,  615,  225,
       1000, 1125,  713, 2800, 1350, 1700, 1200, 1440,  455, 2300,  512,
        446,  125,  730, 2700, 1050,  499,  360,  497,  630, 1150, 1400,
       1600,  480, 1120,  585,  120, 2925,  150,  975, 4000,  545,  470,
       2600,  670, 1872,  410,  810, 1450, 3500, 3200,  680,  756,  100,
        540, 1950, 1750, 2550, 3800, 1205,  325], dtype=int64)

In [24]:
objectcols=[]
for cols in delhidf:
    if delhidf[cols].dtype=='object':
        objectcols.append(cols)
print(objectcols)

['Area Type', 'Area Locality', 'Furnishing Status']

In [25]:
from sklearn.preprocessing import OrdinalEncoder
OE=OrdinalEncoder()
delhidf[objectcols]=OE.fit_transform(delhidf[objectcols])
delhidf.head(n=10)

      BHK   Rent  Size  Area Type  Area Locality  Furnishing Status  Bathroom
2382    2  14000   800        1.0           82.0                1.0         2
2383    1  20000   200        1.0           82.0                0.0         1
2384    3  80000  1800        0.0           73.0                1.0         3
2385    1   9500   400        0.0           44.0                2.0         1
2386    3  14000   600        0.0           81.0                2.0         3
2387    3  65000  1550        0.0           72.0                1.0         3
2388    2  18500   650        0.0           17.0                2.0         2
2389    2  40000   850        0.0            1.0                2.0         2
2390    4  90000  2000        0.0           78.0                2.0         4
2391    1   3500   180        1.0           19.0                2.0         1

In [26]:
delhidf.corr()

,BHK,Rent,Size,Area Type,Area Locality,Furnishing Status,Bathroom
BHK,1.000000,0.525564,0.762102,-0.114560,0.060116,0.050478,0.812683
Rent,0.525564,1.000000,0.674672,-0.054995,-0.036909,-0.091679,0.669128
Size,0.762102,0.674672,1.000000,-0.110107,-0.009898,-0.052148,0.831702
Area Type,-0.114560,-0.054995,-0.110107,1.000000,0.095211,-0.033473,-0.150561
Area Locality,0.060116,-0.036909,-0.009898,0.095211,1.000000,0.028897,0.006190
Furnishing Status,0.050478,-0.091679,-0.052148,-0.033473,0.028897,1.000000,-0.034826
Bathroom,0.812683,0.669128,0.831702,-0.150561,0.006190,-0.034826,1.000000

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.metrics import r2_score

In [29]:
delhidf.columns

Index(['BHK', 'Rent', 'Size', 'Area Type', 'Area Locality',
       'Furnishing Status', 'Bathroom'],
      dtype='object')

In [30]:
x = delhidf.drop(['Rent'], axis=1)
y=delhidf['Rent']
x

      BHK  Size  Area Type  Area Locality  Furnishing Status  Bathroom
2382    2   800        1.0           82.0                1.0         2
2383    1   200        1.0           82.0                0.0         1
2384    3  1800        0.0           73.0                1.0         3
2385    1   400        0.0           44.0                2.0         1
2386    3   600        0.0           81.0                2.0         3
...   ...   ...        ...            ...                ...       ...
2982    2  1200        1.0           55.0                1.0         2
2983    1   250        1.0           82.0                1.0         1
2984    2   700        1.0           82.0                1.0         1
2985    3  1050        0.0           82.0                2.0         2
2986    2   500        0.0           35.0                1.0         2

[481 rows x 6 columns]

In [31]:
 X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=34)

In [32]:
scaler=StandardScaler()
scaler.fit(X_train)
scaler.transform(X_train)

array([[ 0.95768458,  1.78087228,  1.13709878, -0.27858095,  1.1454575 ,
         1.14745618],
       [-0.15446526,  0.32890983, -0.87943107, -1.1676691 , -1.71818626,
         0.11474562],
       [-0.15446526,  0.18371358,  1.13709878,  0.96614245,  1.1454575 ,
        -0.91796495],
       ...,
       [ 0.95768458,  0.47410607, -0.87943107,  0.64607072, -1.71818626,
         1.14745618],
       [-1.2666151 , -0.68746389,  1.13709878,  0.96614245, -0.28636438,
        -0.91796495],
       [ 0.95768458,  0.40150795, -0.87943107, -1.66555846,  1.1454575 ,
         0.11474562]])

In [33]:
delhidf.columns

Index(['BHK', 'Rent', 'Size', 'Area Type', 'Area Locality',
       'Furnishing Status', 'Bathroom'],
      dtype='object')

In [62]:
lr=LinearRegression()

In [47]:
lr.fit(X_train,y_train)

LinearRegression()

In [36]:
predictions=lr.predict(X_test)

In [37]:
r2_score( y_test,predictions)

0.5145266359232299

In [38]:
lar=Lasso()

In [39]:
lar.fit(X_train,y_train)

Lasso()

In [40]:
p1=lar.predict(X_test)

In [41]:
r2_score( y_test,p1)

0.5145088351190747